# Cargar datos climáticos y epidemiológicos en Python.

1. Cargar los datos climáticos que quiere considerar. 
2. Cargar los datos epidemiológicos que quiere considerar.
3. llavarlos a la misma escala (Semanal)
4. fusionales [C|E]
5. crear los atributos de temperatura extrema 
6. crear el atributo de número de días con lluvia.

In [1]:
# 1. Importar librerias 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#from statsmodels.tsa.arima.model import ARIMA

In [2]:
# 2. Carga de datos climáticos 
df1 = pd.read_excel(r"C:/Users/marco/OneDrive - Universidad de Antioquia/Documentos/2_recursos_ensenanza/8_arima/Datos_climáticos-(2022-2024).xlsx")

In [3]:
df1.head()

,Año,Día,Temperatura,Temperatura máxima,Temperatura mínima,Humedad relativa,Precipitación,Velocidad del viento,Velocidad de viento máximo,Velocidad de viento mínima
0,2022,1,28.46,34.23,24.03,71.51,0.33,0.09,0.21,0.01
1,2022,2,28.61,34.59,24.14,71.87,0.91,0.12,0.24,0.02
2,2022,3,29.07,35.43,23.91,69.46,0.11,0.12,0.31,0.01
3,2022,4,29.65,36.10,24.19,63.86,0.00,0.12,0.23,0.04
4,2022,5,29.24,35.75,23.76,64.06,0.01,0.13,0.24,0.02

In [20]:
df1.keys()

Index(['Año', 'Día', 'Temperatura', 'Temperatura máxima', 'Temperatura mínima',
       'Humedad relativa', 'Precipitación', 'Velocidad del viento',
       'Velocidad de viento máximo', 'Velocidad de viento mínima'],
      dtype='object')

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Año                         1096 non-null   int64
 1   Día                         1096 non-null   int64
 2   Temperatura                 1096 non-null   float64
 3   Temperatura máxima          1096 non-null   float64
 4   Temperatura mínima          1096 non-null   float64
 5   Humedad relativa            1096 non-null   float64
 6   Precipitación               1096 non-null   float64
 7   Velocidad del viento        1096 non-null   float64
 8   Velocidad de viento máximo  1096 non-null   float64
 9   Velocidad de viento mínima  1096 non-null   float64
dtypes: float64(8), int64(2)
memory usage: 85.8 KB

In [22]:
df1.describe()

,Año,Día,Temperatura,Temperatura máxima,Temperatura mínima,Humedad relativa,Precipitación,Velocidad del viento,Velocidad de viento máximo,Velocidad de viento mínima
count,1096.000000,1096.000000,1096.000000,1096.000000,1096.000000,1096.000000,1096.000000,1096.000000,1096.000000,1096.000000
mean,2023.000912,183.166971,27.237828,30.972801,24.375292,85.084763,4.976031,0.153896,0.356679,0.034051
std,0.817055,105.510927,1.662275,3.109907,1.032193,10.300241,7.211492,0.032945,0.110631,0.022732
min,2022.000000,1.000000,23.970000,25.520000,20.800000,52.100000,0.000000,0.070000,0.160000,0.000000
25%,2022.000000,92.000000,26.080000,28.917500,23.750000,80.677500,0.547500,0.130000,0.260000,0.020000
50%,2023.000000,183.000000,26.875000,30.050000,24.410000,89.450000,2.445000,0.150000,0.350000,0.030000
75%,2024.000000,274.250000,27.902500,32.092500,25.010000,92.340000,6.612500,0.170000,0.440000,0.050000
max,2024.000000,366.000000,34.020000,40.960000,28.340000,97.520000,75.780000,0.310000,0.720000,0.110000

# Tarea: 


2. Renombrar a la variable día a día del año. (hecho)
3. dejar la las variables de año y día cómo fecha en dato de tipo datatime de python. (hecho)
4. combine los atributos de año y día del año en un atributo llamado fecha con formato YYYY-MM-DD de pandas.
5. Remuestrear los datos climáticos a una escala de semana epidemiológica.
6. y los datos epidemiológicos agruparlos por semana epidemiológica. 
7. Visualización gráfica de los datos climáticos.

In [23]:
# renombrar el atributo día a día del año 

df1.rename(columns={'Día': 'Día del año'}, inplace=True)

In [24]:
df1.head()

,Año,Día del año,Temperatura,Temperatura máxima,Temperatura mínima,Humedad relativa,Precipitación,Velocidad del viento,Velocidad de viento máximo,Velocidad de viento mínima
0,2022,1,28.46,34.23,24.03,71.51,0.33,0.09,0.21,0.01
1,2022,2,28.61,34.59,24.14,71.87,0.91,0.12,0.24,0.02
2,2022,3,29.07,35.43,23.91,69.46,0.11,0.12,0.31,0.01
3,2022,4,29.65,36.10,24.19,63.86,0.00,0.12,0.23,0.04
4,2022,5,29.24,35.75,23.76,64.06,0.01,0.13,0.24,0.02

In [30]:

from datetime import datetime



# Función para convertir año + día del año a fecha
def dia_del_año_a_fecha(año, dia):
    try:
        return datetime(año, 1, 1) + pd.Timedelta(days=dia - 1)
    except:
        return pd.NaT  # Maneja días inválidos (ej: día 366 en año no bisiesto)

# Aplicar la función y crear columna "fecha"
df1['fecha'] = df1.apply(lambda x: dia_del_año_a_fecha(x['Año'], x['Día del año']), axis=1)

# Formatear como YYYY-MM-DD (opcional, ya que pandas maneja datetime nativamente)
df1['fecha'] = df1['fecha'].dt.strftime('%Y-%m-%d')

df1.head()

,Año,Día del año,Temperatura,Temperatura máxima,Temperatura mínima,Humedad relativa,Precipitación,Velocidad del viento,Velocidad de viento máximo,Velocidad de viento mínima,fecha
0,2022,1,28.46,34.23,24.03,71.51,0.33,0.09,0.21,0.01,2022-01-01
1,2022,2,28.61,34.59,24.14,71.87,0.91,0.12,0.24,0.02,2022-01-02
2,2022,3,29.07,35.43,23.91,69.46,0.11,0.12,0.31,0.01,2022-01-03
3,2022,4,29.65,36.10,24.19,63.86,0.00,0.12,0.23,0.04,2022-01-04
4,2022,5,29.24,35.75,23.76,64.06,0.01,0.13,0.24,0.02,2022-01-05

In [31]:
df1.fecha = pd.to_datetime(df1.fecha, format='%Y-%m-%d')

In [32]:
df1.fecha.iloc[0]

Timestamp('2022-01-01 00:00:00')

# Ahora si remuestrearemos los datos climáticos a una escala de semana epidemiológica.

# Script para remuestrear el dataframe df1 a semana epidemiológica (domingo a sábado)

In [16]:
import pandas as pd

# Asumiendo que df1 ya está cargado en memoria

# Paso 1: Eliminar las columnas 'Año' y 'Día del año'
df1 = df1.drop(columns=['Año', 'Día del año'])

# Paso 2: Asegurarse que 'fecha' es de tipo datetime
df1['fecha'] = pd.to_datetime(df1['fecha'])

# Paso 3: Remuestreo a semana epidemiológica (domingo a sábado)
# Primero establecemos 'fecha' como índice
df1.set_index('fecha', inplace=True)

# Definimos la función para determinar la semana epidemiológica
def get_epidemiological_week(date):
    # Semana epidemiológica comienza en domingo (0) y termina en sábado (6)
    return (date - pd.to_timedelta(date.dayofweek + 1, unit='D')).strftime('%Y-%U')

# Remuestreamos por semana epidemiológica
# Usamos 'W-SUN' para que las semanas vayan de domingo a sábado
df_semanal = df1.resample('W-SUN').agg({
    'Temperatura': 'mean',
    'Temperatura máxima': 'max',
    'Temperatura mínima': 'min',
    'Humedad relativa': 'mean',
    'Precipitación': 'sum',
    'Velocidad del viento': 'mean',
    'Velocidad de viento máximo': 'max',
    'Velocidad de viento mínima': 'min'
})

# Resetear el índice para tener 'fecha' como columna nuevamente
df_semanal.reset_index(inplace=True)

# Opcional: Agregar columnas de año y semana epidemiológica
df_semanal['Año epidemiológico'] = df_semanal['fecha'].dt.year
df_semanal['Semana epidemiológica'] = df_semanal['fecha'].dt.isocalendar().week

# Mostrar las primeras filas del resultado
df_semanal.head()

KeyError: "['Año', 'Día del año'] not found in axis"

In [17]:
df_semanal.head()

,fecha,Temperatura,Temperatura máxima,Temperatura mínima,Humedad relativa,Precipitación,Velocidad del viento,Velocidad de viento máximo,Velocidad de viento mínima,Año epidemiológico,Semana epidemiológica
0,2022-01-02,28.535000,34.59,24.03,71.690000,1.24,0.105000,0.24,0.01,2022,52
1,2022-01-09,28.128571,36.10,22.75,70.544286,11.47,0.120000,0.31,0.01,2022,1
2,2022-01-16,27.240000,35.01,22.17,73.188571,13.15,0.115714,0.25,0.00,2022,2
3,2022-01-23,29.395714,38.15,23.97,67.442857,1.71,0.112857,0.25,0.01,2022,3
4,2022-01-30,29.078571,36.46,23.30,65.702857,1.97,0.140000,0.29,0.04,2022,4


### Explicación:
1. **Eliminación de columnas**: Se eliminan las columnas 'Año' y 'Día del año' como solicitaste.
2. **Conversión de fecha**: Se asegura que la columna 'fecha' sea de tipo datetime.
3. **Remuestreo semanal**: 
   - Se usa `resample('W-SUN')` para agrupar por semanas que comienzan en domingo.
   - Se aplican diferentes funciones de agregación para cada variable:
     - Temperaturas: media para la normal, max/mín para extremos
     - Humedad: media
     - Precipitación: suma acumulada semanal
     - Viento: media para velocidad normal, max/mín para extremos
4. **Columnas adicionales**: Se añaden columnas para identificar el año y número de semana epidemiológica.

El resultado será un dataframe con datos agregados por semana epidemiológica (domingo a sábado) para todo el período 2022-2024.

In [14]:
df1.keys(), df1.fecha.iloc[0], df1.fecha.iloc[-1]

(Index(['Año', 'Día del año', 'Temperatura', 'Temperatura máxima',
        'Temperatura mínima', 'Humedad relativa', 'Precipitación',
        'Velocidad del viento', 'Velocidad de viento máximo',
        'Velocidad de viento mínima', 'fecha'],
       dtype='object'),
 Timestamp('2022-01-01 00:00:00'),
 Timestamp('2024-12-31 00:00:00'))

# Importación datos epidemiológicos

In [15]:
df2 = pd.read_excel(r"C:\Users\marco\OneDrive - Universidad de Antioquia\Documentos\2_recursos_ensenanza\8_arima\BS_DENGUE_SEC_SALUD_2022-2024.xlsx")

In [16]:
df2.head()

,cod_eve,fec_not,semana,año,cod_pre,cod_sub,edad_,uni_med_,nacionali_,nombre_nacionalidad,...,nom_upgd,npais_proce,ndep_proce,nmun_proce,npais_resi,ndep_resi,nmun_resi,ndep_notif,nmun_notif,nreg
0,210,2022-01-01,52,2021,515402201,1,31,1,170,COLOMBIA,...,ESE HOSPITAL CESAR URIBE PIEDRAHITA,COLOMBIA,ANTIOQUIA,CAUCASIA,COLOMBIA,ANTIOQUIA,CAUCASIA,ANTIOQUIA,CAUCASIA,2142
1,210,2022-01-01,52,2021,515402201,1,16,1,170,COLOMBIA,...,ESE HOSPITAL CESAR URIBE PIEDRAHITA,COLOMBIA,ANTIOQUIA,CAUCASIA,COLOMBIA,ANTIOQUIA,CAUCASIA,ANTIOQUIA,CAUCASIA,2144
2,210,2022-01-01,51,2021,515402201,1,79,1,170,COLOMBIA,...,ESE HOSPITAL CESAR URIBE PIEDRAHITA,COLOMBIA,ANTIOQUIA,CAUCASIA,COLOMBIA,ANTIOQUIA,CAUCASIA,ANTIOQUIA,CAUCASIA,2152
3,210,2022-01-01,51,2021,515402201,1,14,1,170,COLOMBIA,...,ESE HOSPITAL CESAR URIBE PIEDRAHITA,COLOMBIA,ANTIOQUIA,CACERES,COLOMBIA,ANTIOQUIA,CACERES,ANTIOQUIA,CAUCASIA,2154
4,210,2022-01-01,52,2021,515402201,1,4,1,170,COLOMBIA,...,ESE HOSPITAL CESAR URIBE PIEDRAHITA,COLOMBIA,ANTIOQUIA,CAUCASIA,COLOMBIA,ANTIOQUIA,CAUCASIA,ANTIOQUIA,CAUCASIA,2140

# Práctica de resampling


Para el **remuestreo de datos climáticos diarios a semanas epidemiológicas**, te recomiendo el siguiente enfoque:

---


### **1. Definición clave:**
- **Semana epidemiológica** (según OMS/OPS):
  - Comienza en **lunes** y termina en **domingo**.
  - La primera semana del año contiene el primer jueves de enero.
  - Se representa con el formato `YYYY-Www` (ej: `2023-W01`).



### **2. Criterio recomendado para el remuestreo:**
1. **Frecuencia de agrupación:**  
   Usar `'W-MON'` en pandas para alinear las semanas de lunes a domingo.

2. **Función de agregación:**  
   - **Para variables acumulativas** (ej: precipitación):  
     ```python
     df.resample('W-MON').sum()
     ```
   - **Para variables promedio** (ej: temperatura):  
     ```python
     df.resample('W-MON').mean()
     ```
   - **Para extremos** (ej: temperatura máxima):  
     ```python
     df.resample('W-MON').max()
     ```

3. **Etiquetado de fechas:**  
   Asignar cada semana a la **fecha de inicio (lunes)** para mantener consistencia epidemiológica:
   ```python
   df_semanal = df.resample('W-MON', label='left').sum()
   ```

---

### **3. Implementación en Python:**

In [30]:

import pandas as pd

# Ejemplo con datos climáticos diarios (fecha, temperatura, precipitación)
df = pd.DataFrame({
    'fecha': pd.date_range('2023-01-01', '2023-12-31'),
    'temp': [25 + 5 * abs(np.sin(i/10)) for i in range(365)],  # Datos simulados
    'precip': np.random.randint(0, 20, 365)
})
df.set_index('fecha', inplace=True)

# Remuestreo a semanas epidemiológicas (lunes a domingo)
df_semanal = df.resample('W-MON', label='left').agg({
    'temp': 'mean',    # Temperatura promedio semanal
    'precip': 'sum'    # Precipitación acumulada semanal
})

# Formatear índice como "Año-Núm.Semana" (ej: 2023-W01)
df_semanal.index = df_semanal.index.strftime('%Y-W%U')

df_semanal.head()

               temp  precip
fecha
2022-W52  25.249584       7
2023-W01  27.349464      65
2023-W02  29.567534      52
2023-W03  29.637421      43
2023-W04  27.526257      85


---

### **4. Resultado:**
| Índice    | Temp (Prom) | Precip (Suma) |
|-----------|-------------|---------------|
| 2023-W00  | 25.32       | 84            |
| 2023-W01  | 26.15       | 92            |
| ...       | ...         | ...           |

---

### **5. Validación adicional:**
- **Verificar semanas incompletas** (ej: inicio/fin de año):  
  ```python
  df_semanal['dias_incluidos'] = df.resample('W-MON').count()['temp']
  ```
- **Alineación con estándares epidemiológicos**:  
  Usar la librería `epiweeks` para coincidir con el sistema de la OMS:
  ```python
  from epiweeks import Week

  # Convertir fechas a semanas epidemiológicas
  df['semana_epi'] = df.index.to_series().apply(lambda x: Week.fromdate(x).cdcformat())
  ```

---

### **6. Recomendaciones finales:**
- **Consistencia:** Asegurar que todas las semanas tengan 7 días (excepto posibles semanas incompletas en los extremos).
- **Documentación:** Registrar el criterio de agregación (ej: "precipitación semanal = suma diaria acumulada").
- **Visualización:** Usar gráficos de barras para variables acumulativas y líneas para promedios.

Este método garantiza compatibilidad con análisis epidemiológicos y climáticos.