# Visualización de dos clases linealemente separables, pero mal clasificadas  

## Metodología

1. obtener datos
2. configurar los datos para la clasificación binaria. (predictores y las etiquetas).
3. graficamos los datos como scatter
4. trazamos tres rectas clasificadoras.

In [1]:
from sklearn import datasets

In [2]:
iris = datasets.load_iris(as_frame = True)

In [4]:
type(iris)

sklearn.utils._bunch.Bunch

In [5]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [6]:
iris.data

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [8]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [9]:
X = iris.data[['petal length (cm)', 'petal width (cm)']]

In [10]:
X

     petal length (cm)  petal width (cm)
0                  1.4               0.2
1                  1.4               0.2
2                  1.3               0.2
3                  1.5               0.2
4                  1.4               0.2
..                 ...               ...
145                5.2               2.3
146                5.0               1.9
147                5.2               2.0
148                5.4               2.3
149                5.1               1.8

[150 rows x 2 columns]

In [11]:
y = iris.target

In [12]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

In [13]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [16]:
X = X.loc[:99]
y = y.loc[:99]

In [17]:
X

    petal length (cm)  petal width (cm)
0                 1.4               0.2
1                 1.4               0.2
2                 1.3               0.2
3                 1.5               0.2
4                 1.4               0.2
..                ...               ...
95                4.2               1.2
96                4.2               1.3
97                4.3               1.3
98                3.0               1.1
99                4.1               1.3

[100 rows x 2 columns]

In [18]:
y

0     0
1     0
2     0
3     0
4     0
     ..
95    1
96    1
97    1
98    1
99    1
Name: target, Length: 100, dtype: int64

In [31]:
import numpy as np 
import pandas as pd 
pd.DataFrame(np.c_[X.values, y.values], \
             columns = [X.keys()[0], X.keys()[1], 'tipo de flor'])

    petal length (cm)  petal width (cm)  tipo de flor
0                 1.4               0.2           0.0
1                 1.4               0.2           0.0
2                 1.3               0.2           0.0
3                 1.5               0.2           0.0
4                 1.4               0.2           0.0
..                ...               ...           ...
95                4.2               1.2           1.0
96                4.2               1.3           1.0
97                4.3               1.3           1.0
98                3.0               1.1           1.0
99                4.1               1.3           1.0

[100 rows x 3 columns]

('petal length (cm)', 'petal width (cm)')