# Time Series Basics

A basic kind of time series object in pandas is a Series indexed by timestamps, which is often represented external to pandas as Python strings or datetime objects:

In [2]:
import numpy as np 
import pandas as pd 
from datetime import datetime

In [3]:
dates = [datetime(2023, 9, 3), datetime(2023, 9, 4), \
         datetime(2023, 9, 5), datetime(2023, 9, 6), \
            datetime(2023, 9, 7), datetime(2023, 9, 8)]

In [4]:
ts = pd.Series(np.random.randn(6), index = dates)

In [5]:
ts

2023-09-03    0.364573
2023-09-04    0.147972
2023-09-05   -0.674906
2023-09-06   -0.989303
2023-09-07    0.954170
2023-09-08    2.148737
dtype: float64

Under the hood, these datetime objects have been put in a DatetimeIndex :

In [6]:
ts.index

DatetimeIndex(['2023-09-03', '2023-09-04', '2023-09-05', '2023-09-06',
               '2023-09-07', '2023-09-08'],
              dtype='datetime64[ns]', freq=None)

Like other Series, arithmetic operations between differently indexed time series automatically align on the dates:

In [7]:
ts + ts[::2]

2023-09-03    0.729146
2023-09-04         NaN
2023-09-05   -1.349812
2023-09-06         NaN
2023-09-07    1.908340
2023-09-08         NaN
dtype: float64

Recuerde que `ts[::2]` selecciona uno de cada dos elementos en ts.  

pandas almacena marcas de tiempo utilizando el tipo de datos datetime64 de NumPy con una resolución de nanosegundos:

In [8]:
ts.index.dtype

dtype('<M8[ns]')

Scalar values from a DatetimeIndex are pandas Timestamp objects:

In [9]:
stam = ts.index[0]

In [10]:
stam

Timestamp('2023-09-03 00:00:00')

Una marca de tiempo se puede sustituir en cualquier lugar donde usaría un objeto de fecha y hora. Además, puede almacenar información de frecuencia (si corresponde) y comprende cómo calcular el tiempo.
conversiones de zona y otros tipos de manipulaciones. Más sobre ambas cosas más adelante.

# Indexación, selección, subconjuntos

Las series de tiempo se comportan como cualquier otro pandas.Series cuando indexa y selecciona datos según la etiqueta:

In [12]:
stamp = ts.index[2]

In [13]:
stamp

Timestamp('2023-09-05 00:00:00')

In [14]:
ts[stamp]

-0.6749062397361657

As a convenience, you can also pass a string that is interpretable as a date:

In [16]:
ts['2023/09/03']

0.36457275544081336

In [17]:
ts['20230903']

0.36457275544081336

For longer time series, a year or only a year and month can be passed to easily select slices of data:

In [18]:
longer_ts = pd.Series(np.random.randn(1000), index = pd.date_range('1/1/2000', periods = 1000))

In [19]:
longer_ts

2000-01-01    0.476678
2000-01-02    0.950226
2000-01-03    0.812008
2000-01-04   -0.522878
2000-01-05    0.301945
                ...
2002-09-22   -0.597016
2002-09-23    0.991204
2002-09-24    0.621195
2002-09-25    1.953019
2002-09-26   -0.123211
Freq: D, Length: 1000, dtype: float64

In [20]:
longer_ts['2001']

2001-01-01    1.082902
2001-01-02   -3.897465
2001-01-03    0.531430
2001-01-04    0.576727
2001-01-05   -0.306278
                ...
2001-12-27    2.138100
2001-12-28   -0.341238
2001-12-29   -0.338007
2001-12-30   -1.504242
2001-12-31    0.854226
Freq: D, Length: 365, dtype: float64