# Convertir el excel en dataframe

In [4]:
# Obtención de la primera base de datos 
import pandas as pd 

df1 = pd.read_excel("210_SIVIGILA Escritorio_01042008-30042023.xls")

In [7]:
# Obtención de la segunda base de datos
df2 =pd.read_excel("210_SIVIGILA Escritorio_01042008-30042023.xls")

In [9]:
# Concatenar las dos bases de datos 
df = pd.concat ([df1, df2] , ignore_index= True)

In [12]:
df.bar_ver_

0           BATALLON RIFLES
1         FUERZAS MILITARES
2       DETRAS COLEGIO IDEN
3              FINCA SIBATE
4                       NaN
               ...
4867            EL CASTILLO
4868           PUEBLO NUEVO
4869          LOS ALMENDROS
4870           BUENOS AIRES
4871           LAS MALVINAS
Name: bar_ver_, Length: 4872, dtype: object

In [13]:
df.bar_ver_.value_counts()

bar_ver_
9999999 SIN INFORMAC       406
PUEBLO NUEVO               264
ASOVIVIENDA                204
VILLA ARABIA                74
9999999 SIN INFORMACION     72
                          ...
EL CAMELLO2                  2
7 DE AGOSTO                  2
LAPLAYA                      2
PUEBLO NUE                   2
SANTALUCIA                   2
Name: count, Length: 388, dtype: int64

In [19]:
df.bar_ver_.value_counts()[:100]

bar_ver_
9999999 SIN INFORMAC       406
PUEBLO NUEVO               264
ASOVIVIENDA                204
VILLA ARABIA                74
9999999 SIN INFORMACION     72
                          ...
PLAYA                        4
VILLA URIBE                  4
SIN DATOS                    4
ASOVIENDA                    4
BELEN                        4
Name: count, Length: 100, dtype: int64

In [20]:
df.bar_ver_.value_counts().to_csv('atributo_barrios_y_veredas.csv', index = True)