# Convertir el excel en dataframe

In [2]:
# juntar las bases de datos
import pandas as pd 
df1 = pd.read_excel('210_SIVIGILA Escritorio_01042008-30042023.xls')
df2 = pd.read_excel('210_SIVIGILAweb_01052023-06082024 (1).xls')
df = pd.concat([df1, df2], ignore_index=True)
df.shape

(5300, 121)

In [3]:
df = df.sort_values(by=['año', 'semana'])
df.shape

(5300, 121)

In [4]:

import re

# Expresión regular para encontrar caracteres no imprimibles
illegal_char_re = re.compile(r'[\x00-\x1F\x7F-\x9F]')

def find_illegal_chars(df):
    for col in df.columns:
        for idx, val in df[col].items():
            if isinstance(val, str) and illegal_char_re.search(val):
                print(f"Carácter ilegal encontrado en fila {idx}, columna '{col}': {repr(val)}")

find_illegal_chars(df)

Carácter ilegal encontrado en fila 901, columna 'telefono_': '\x023117868486'

In [5]:
# corregir aquí 
def remove_illegal_chars(val):
    if isinstance(val, str):
        return illegal_char_re.sub('', val)
    return val

df = df.map(remove_illegal_chars)
df.

,cod_eve,fec_not,semana,año,cod_pre,cod_sub,edad_,uni_med_,nacionali_,nombre_nacionalidad,...,npais_proce,ndep_proce,nmun_proce,npais_resi,ndep_resi,nmun_resi,ndep_notif,nmun_notif,nreg,FechaHora
1357,210,2008-12-30,2,2008,515403817,1,1,1,NaN,NaN,...,COLOMBIA,ANTIOQUIA,CAUCASIA,COLOMBIA,ANTIOQUIA,CAUCASIA,ANTIOQUIA,CAUCASIA,55.0,NaT
1358,210,2008-12-30,2,2008,515403817,1,7,1,NaN,NaN,...,COLOMBIA,ANTIOQUIA,CAUCASIA,COLOMBIA,ANTIOQUIA,CAUCASIA,ANTIOQUIA,CAUCASIA,68.0,NaT

In [6]:
df = df.drop_duplicates()
df.head(2)

In [7]:
df.to_excel('datos_secretaria_juntados.xlsx', index=False)