# Convertir el excel en dataframe

In [9]:
# juntar las bases de datos
import pandas as pd 
df1 = pd.read_excel('210_SIVIGILA Escritorio_01042008-30042023.xls')
df2 = pd.read_excel('210_SIVIGILAweb_01052023-06082024 (1).xls')
df = pd.concat([df1, df2], ignore_index=True)
df.shape

(5300, 121)

In [10]:
df = df.sort_values(by=['año', 'semana'])
df.shape

(5300, 121)

In [11]:

import re

# Expresión regular para encontrar caracteres no imprimibles
illegal_char_re = re.compile(r'[\x00-\x1F\x7F-\x9F]')

def find_illegal_chars(df):
    for col in df.columns:
        for idx, val in df[col].items():
            if isinstance(val, str) and illegal_char_re.search(val):
                print(f"Carácter ilegal encontrado en fila {idx}, columna '{col}': {repr(val)}")

find_illegal_chars(df)

Carácter ilegal encontrado en fila 901, columna 'telefono_': '\x023117868486'

In [12]:
# corregir aquí 
def remove_illegal_chars(val):
    if isinstance(val, str):
        return illegal_char_re.sub('', val)
    return val

df = df.map(remove_illegal_chars)
df.shape

(5300, 121)

In [19]:
lista_barrios_correctos = ['PUEBLO NUEVO', 'CENTENARIO', \
                          'LAS VILLAS', 'EL TRIÁNGULO', 'EL BOSQUE', \
                          'PUEBLO SANTO', 'LOS ALMENDROS', 'EL DROMEDARIO', \
                          'EL CENTRO', 'VILLA ARABIA', 'CARACOLÍ', \
                          'VILLA GRANDA', 'ASOVIVIENDA', 'EL KENNEDY', \
                          'CLEMENTE ARRIETA', 'EL ÁGUILA', 'EL POBLADO', \
                          'SANTA ELENA', 'EL CAMELLO', 'LA ESPERANZA', \
                          'EL PRADO', 'SAN MIGUEL', 'SAN RAFAEL', \
                          'LA PAZ', 'LAS MALVINAS', 'EL CARMEN', \
                          'NUEVA ESTRELLA', 'LOMA FRESCA', 'EL ROBLE', \
                          'LA COLOMBIANITA', 'PARAGUAY', 'LA YE', \
                          'ALTOS DE SAN JUAN', 'PUERTO ESPAÑA', 'EL PALMAR', \
                          'LAS GAVIOTAS', 'ALTOS DE KIRIQUI', 'CASTILLITO', \
                          'LOS CÓRDOBA', 'EL LAGO', 'BUENO AIRES', \
                          'PEDRO VALDIVIA', 'SIN INFORMACION']

In [21]:
len(lista_barrios_correctos)

43

In [ ]:
correcciones = {'':'PUEBLO NUEVO', '':'PUEBLO NUEVO', }


df['bar_ver_'] = df['bar_ver_'].replace(correcciones)

In [14]:
df = df.drop_duplicates(subset=['fec_not', 'semana', 'año','edad_', \
                                'nombre_nacionalidad', 'sexo_',\
                                'localidad_', 'vereda_', 'bar_ver_', 'dir_res_',\
                                      'fec_con_', 'ini_sin_', 'fec_hos_',\
                                          'telefono_', 'fecha_nto_'])
df.shape

(5280, 121)

In [22]:
df = df.drop_duplicates(subset=['fec_not', 'semana', 'año','edad_', \
                                'nombre_nacionalidad', 'sexo_',\
                                'localidad_',\
                                      'fec_con_', 'ini_sin_', 'fec_hos_',\
                                          'telefono_', 'fecha_nto_'])
df.shape

(5263, 121)

In [18]:
df.bar_ver_.value_counts()[:20]

bar_ver_
9999999 SIN INFORMAC       202
PUEBLO NUEVO               179
ASOVIVIENDA                119
SIN DATO                    59
EL TRIANGULO                49
LAS MALVINAS                41
VILLA ARABIA                41
SAN MIGUEL                  39
EL CAMELLO                  37
9999999 SIN INFORMACION     37
PARAGUAY                    36
EL CAMELLO 2                35
SANTA ELENA                 34
EL PALMAR                   28
LA PLAYA                    27
CLEMENTE ARRIETA            24
LA COLOMBIANITA             24
EL POBLADO                  24
BUENOS AIRES                22
SAN RAFAEL                  22
Name: count, dtype: int64

In [15]:
df.to_excel('datos_secretaria_con_casos_repetidos_eliminados.xlsx', index=False)