<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/ageron/handson-ml3/blob/main/tools_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/ageron/handson-ml3/blob/main/tools_numpy.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

# Metodologia completa de obtención y consolidación de la base de datos

### **Obtención de datos meteorológicos de la estación Antioquia Mira Su Cielo (AMSC)**
   
Los datos meteorológicos locales fueron obtenidos desde la plataforma de Antioquia Mira Su Cielo (AMSC) (https://www.antioquiamirasucielo.org/), la cual recopila información proveniente de diversas estaciones ubicadas en los campus de la Universidad de Antioquia.
Para este estudio, se filtraron los registros correspondientes a la estación Caucasia, seleccionando las siguientes variables:
   1. direccion_viento	
   2. humedad	
   3. precipitacion	
   4. presion	
   5. radiacion	
   6. temperatura	
   7. uv	
   8. velocidad_viento

**Informacion de la estacion:** 
   * Nombre: Caucasia
   * Código: 102082706 
   * Municipio: Caucasia
   * Departamento: Antioquia 
   * Zona Hidrográfica: undefined
   * Altitud: 60 m s.n.m
   * Estado de la estación: undefined
   * Tipo de tecnología: undefined
   * Tipo de categoría: Automática con Telemetría

**Observaciones:** 

La plataforma descarga cada variable de forma independiente, es decir, no permite seleccionar varias variables simultáneamente para generar un único archivo CSV. Por esta razón, fue necesario unificar todas las variables en una sola base de datos.

In [ ]:
Dame el script de Python con una función de python que lea los archivos csv de la carpeta en la ubicación "C:\Users\marco\Documentos\investigacion\Bases de datos\Datos meteorológicos\AMSC" y fusione estos csv en un solo dataframe df que muestre estos datos meteorológicos guardados en la carpeta en al dirección que te acabo de dar. Quítale al código anterior el que indique el archivo origen. Pero que el atributo `fecha`lo convierta a tipo datetime. Pero que este script a medida que lee cada archivo .csv, convierta el atributo `fecha` en tipo datetime para que el dataframe final se fisiones con pd.merge() con el criterio para fusionar que sea este atributo `fecha`. Por favor, ten en cuenta que el atributo sep de pd.read_csv() debe ser ';' y el encoding 'utf-8'.

Aquí tienes un **script de Python completo y comentado**, con una función que **lee todos los archivos CSV** en la carpeta que indicas y los **fusiona en un solo DataFrame** llamado `df`.

El script usa `pandas` y `glob`, dos herramientas ideales para esta tarea.

---

In [ ]:
# %% Importar librerías
import pandas as pd
import glob
import os

# %% Definir función para leer y fusionar CSV por la columna 'fecha'
def fusionar_csv_por_fecha(ruta_carpeta):
    """
    Lee todos los archivos CSV en la carpeta especificada,
    convierte la columna 'fecha' a tipo datetime y fusiona
    los DataFrames por esa columna usando pd.merge().

    Parámetros:
        ruta_carpeta (str): Ruta de la carpeta con los archivos CSV.

    Retorna:
        pd.DataFrame: DataFrame combinado por la columna 'fecha'.
    """
    # Listar todos los archivos CSV
    archivos_csv = glob.glob(os.path.join(ruta_carpeta, "*.csv"))
    
    if not archivos_csv:
        print("⚠️ No se encontraron archivos CSV en la ruta especificada.")
        return pd.DataFrame()
    
    df_final = None

    for archivo in archivos_csv:
        try:
            df_temp = pd.read_csv(archivo, sep=';', encoding='utf-8')
            
            # Verificar si existe la columna 'fecha'
            if 'fecha' not in df_temp.columns:
                print(f"⚠️ El archivo {os.path.basename(archivo)} no tiene la columna 'fecha'. Se omite.")
                continue
            
            # Convertir 'fecha' a tipo datetime
            df_temp['fecha'] = pd.to_datetime(df_temp['fecha'], errors='coerce')
            
            # Eliminar filas con fechas no válidas
            df_temp = df_temp.dropna(subset=['fecha'])
            
            # Ordenar por fecha (opcional, pero útil)
            df_temp = df_temp.sort_values('fecha')
            
            # Fusionar usando 'fecha' como clave
            if df_final is None:
                df_final = df_temp
            else:
                df_final = pd.merge(df_final, df_temp, on='fecha', how='outer')
            
            print(f"✅ Archivo fusionado: {os.path.basename(archivo)} ({len(df_temp)} filas)")

        except Exception as e:
            print(f"❌ Error procesando {archivo}: {e}")
    
    # Ordenar el DataFrame final por fecha
    if df_final is not None:
        df_final = df_final.sort_values('fecha').reset_index(drop=True)
        print("✅ Fusión completada correctamente.")
    else:
        print("⚠️ No se generó ningún DataFrame válido.")

    return df_final


# %% Usar la función con la ruta específica
ruta = r"C:\Users\marco\Documentos\investigacion\Bases de datos\Datos meteorológicos\AMSC"
df = fusionar_csv_por_fecha(ruta)

# %% Mostrar información básica del DataFrame final
print(f"\nTotal de filas: {len(df)}")
print(f"Columnas: {list(df.columns)}")

✅ Archivo fusionado: AMSC_direccion_viento.csv (410655 filas)
✅ Archivo fusionado: AMSC_humedad.csv (410655 filas)

C:\Users\marco\AppData\Local\Temp\ipykernel_1444\2636480186.py:30: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(archivo, sep=';', encoding='utf-8')

✅ Archivo fusionado: AMSC_precipitacion.csv (410655 filas)
✅ Archivo fusionado: AMSC_presion.csv (410655 filas)
✅ Archivo fusionado: AMSC_radiacion.csv (410655 filas)
✅ Archivo fusionado: AMSC_temperatura.csv (410655 filas)
✅ Archivo fusionado: AMSC_uv.csv (410655 filas)
✅ Archivo fusionado: AMSC_velocidad_viento.csv (410655 filas)
✅ Fusión completada correctamente.

Total de filas: 410655
Columnas: ['fecha', 'direccion_viento', 'humedad', 'precipitacion', 'presion', 'radiacion', 'temperatura', 'uv', 'velocidad_viento']

,fecha,direccion_viento,humedad,precipitacion,presion,radiacion,temperatura,uv,velocidad_viento
100,2022-01-11 01:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,2022-01-11 01:41:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,2022-01-11 01:42:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,2022-01-11 01:43:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,2022-01-11 01:44:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
195,2022-01-11 03:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,2022-01-11 03:16:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,2022-01-11 03:17:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,2022-01-11 03:18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,2022-01-11 03:19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.iloc[100000:200000]

,fecha,direccion_viento,humedad,precipitacion,presion,radiacion,temperatura,uv,velocidad_viento
100000,2023-04-01 15:38:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100001,2023-04-01 15:39:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100002,2023-04-01 15:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100003,2023-04-01 15:41:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100004,2023-04-01 15:42:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
199995,2023-09-11 02:13:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199996,2023-09-11 02:14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199997,2023-09-11 02:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199998,2023-09-11 02:16:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199999,2023-09-11 02:17:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:


# %% Usar la función con la ruta específica
ruta = r"C:\Users\marco\Documentos\investigacion\Bases de datos\Datos meteorológicos\AMSC"
df = fusionar_csv_carpeta(ruta)
df

C:\Users\marco\AppData\Local\Temp\ipykernel_1444\3328430597.py:30: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(archivo, sep=';', encoding='utf-8')
C:\Users\marco\AppData\Local\Temp\ipykernel_1444\3328430597.py:30: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(archivo, sep=';', encoding='utf-8')

,fecha,direccion_viento,humedad,precipitacion,presion,radiacion,temperatura,uv,velocidad_viento
0,4/10/2022 4:58,220.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4/10/2022 4:59,102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4/10/2022 5:00,110.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4/10/2022 5:01,116.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4/10/2022 5:02,110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
8619723,7/12/2024 23:55,69.0,89.0,0.0,101.131.121.096,0.0,2.777.777.777.777.770,255.0,2.0
8619724,7/12/2024 23:56,55.0,89.0,0.0,101.124.348.318,0.0,2.777.777.777.777.770,255.0,1.0
8619725,7/12/2024 23:57,80.0,88.0,0.0,101.120.961.929,0.0,2.777.777.777.777.770,255.0,4.0
8619726,7/12/2024 23:58,95.0,88.0,0.0,10.111.757.554,0.0,2.777.777.777.777.770,255.0,1.0
8619727,7/12/2024 23:59,116.0,88.0,0.0,101.107.416.373,0.0,2.777.777.777.777.770,255.0,4.0

In [ ]:

# %% Mostrar información básica del DataFrame
print("✅ Archivos combinados correctamente.")
print(f"Total de filas: {len(df)}")
print(f"Columnas: {list(df.columns)}")

# Mostrar las primeras filas
df.head()

In [4]:
ruta_carpeta = r"C:\Users\marco\Documentos\investigacion\Bases de datos\Datos meteorológicos\AMSC"
archivos_csv = glob.glob(os.path.join(ruta_carpeta, "*.csv"))
archivos_csv

['C:\\Users\\marco\\Documentos\\investigacion\\Bases de datos\\Datos meteorológicos\\AMSC\\AMSC_direccion_viento.csv',
 'C:\\Users\\marco\\Documentos\\investigacion\\Bases de datos\\Datos meteorológicos\\AMSC\\AMSC_humedad.csv',
 'C:\\Users\\marco\\Documentos\\investigacion\\Bases de datos\\Datos meteorológicos\\AMSC\\AMSC_precipitacion.csv',
 'C:\\Users\\marco\\Documentos\\investigacion\\Bases de datos\\Datos meteorológicos\\AMSC\\AMSC_presion.csv',
 'C:\\Users\\marco\\Documentos\\investigacion\\Bases de datos\\Datos meteorológicos\\AMSC\\AMSC_radiacion.csv',
 'C:\\Users\\marco\\Documentos\\investigacion\\Bases de datos\\Datos meteorológicos\\AMSC\\AMSC_temperatura.csv',
 'C:\\Users\\marco\\Documentos\\investigacion\\Bases de datos\\Datos meteorológicos\\AMSC\\AMSC_uv.csv',
 'C:\\Users\\marco\\Documentos\\investigacion\\Bases de datos\\Datos meteorológicos\\AMSC\\AMSC_velocidad_viento.csv',
 'C:\\Users\\marco\\Documentos\\investigacion\\Bases de datos\\Datos meteorológicos\\AMSC\\Datos_meteorologicos_completos_2021-2024.csv']


---

### 💡 Notas:

* El script identifica automáticamente todos los archivos `.csv` en la carpeta.
* Agrega una columna `archivo_origen` para que sepas de cuál archivo proviene cada fila (puedes eliminarla si no la necesitas).
* Si los CSV tienen las **mismas columnas**, se fusionarán perfectamente. Si difieren, `pandas` completará con `NaN` las columnas faltantes.

---

¿Quieres que el script también **guarde el DataFrame combinado** en un nuevo archivo CSV (por ejemplo `datos_fusionados.csv`)? Puedo añadírtelo en una línea más.